# Live Code 1

Ardiansyah Arya Salvinia | Batch 016

## Description

### Objective

`Mengecek apakah baterai yang dibuat perusahaan bagus atau tidak`

### Problem Statement

`Menghitung hambatan dan daya baterai`

## Working Area

### Import Library

In [70]:
import pandas as pd
import numpy as np

### Load Dataset

In [71]:
df=pd.read_excel('NMC1-9.xlsx')

In [72]:
df # Melihat preview dari dataset

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

### Memanipulasi beberapa kolom dataset untuk mempermudah proses pengolahan

In [73]:
cd=df # Membuat copy dataset agar dataset awal tidak berubah saat terjadi kesalahan input

In [74]:
cd = cd.rename(columns={'V_m':'Volt'})
cd = cd.rename(columns={'Current (A)':'Ampere'}) # Mengubah nama kolum V_m dan Current (A) agar lebih mudah dimanipulasi

In [75]:
cd # Melihat tabel baru

       time(s)   Volt  Ampere  Cycle       Cap
0            0  4.098   0.997      1  2.840817
1            1  4.096   0.998      1  2.840817
2            2  4.094   0.999      1  2.840817
3            3  4.093   0.998      1  2.840817
4            4  4.092   0.999      1  2.840817
...        ...    ...     ...    ...       ...
90977    90977  2.506   1.002      9  2.770180
90978    90978  2.504   1.002      9  2.770180
90979    90979  2.502   1.002      9  2.770180
90980    90980  2.500   1.002      9  2.770180
90981    90981  2.497   1.002      9  2.770180

[90982 rows x 5 columns]

### a. Membuat fungsi perhitungan hambatan dan daya

In [76]:
 # Membuat fungsi perhitungan hambatan

def hambatan(row):
    hasil=cd.Volt/cd.Ampere # Angka di kolum Volt akan dibagikan dengan angka di kolum .Ampere
    return hasil

In [77]:
# Membuat fungsi perhitungan daya

def daya(row): 
    hasil=cd.Volt*cd.Ampere # Angka di kolum Volt akan dikalikan dengan angka di kolum .Ampere
    return hasil

### b. Membuat kolom R/P yang merupakan hasil perhitungan daya/hambatan

In [ ]:
hasil=[] # Membuat variable yang akan menyimpan list hasil dari for loop.

In [91]:
for i in cd.Cap: # Mengambil data pada kolom Cap yang akan digunakan sebagai landasan perhitungan
    if i>= 2.5:
        hasil=daya(i)
    elif i< 2.5 :
        hasil=hambatan(i)

In [79]:
hasil # Melihat data yang ada pada list hasil

0        4.085706
1        4.087808
2        4.089906
3        4.084814
4        4.087908
           ...
90977    2.511012
90978    2.509008
90979    2.507004
90980    2.505000
90981    2.501994
Length: 90982, dtype: float64

In [80]:
cd['R/P']=hasil # Memasukan list hasi dengan menambah kolom bernama R/P

In [81]:
# Ingin melihat apakah hasil algoritma for loop menghasilkan data yang sesuai

cd.loc[cd['Cap']>=2.5] # Melakukan query cap >= 2.5 untuk melihat perkalian daya

       time(s)   Volt  Ampere  Cycle       Cap       R/P
0            0  4.098   0.997      1  2.840817  4.085706
1            1  4.096   0.998      1  2.840817  4.087808
2            2  4.094   0.999      1  2.840817  4.089906
3            3  4.093   0.998      1  2.840817  4.084814
4            4  4.092   0.999      1  2.840817  4.087908
...        ...    ...     ...    ...       ...       ...
90977    90977  2.506   1.002      9  2.770180  2.511012
90978    90978  2.504   1.002      9  2.770180  2.509008
90979    90979  2.502   1.002      9  2.770180  2.507004
90980    90980  2.500   1.002      9  2.770180  2.505000
90981    90981  2.497   1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

In [82]:
# Ingin melihat apakah hasil algoritma for loop menghasilkan data yang sesuai

cd.loc[cd['Cap']<2.5] # Melakukan query cap >= 2.5 untuk melihat perkalian hambatan

Empty DataFrame
Columns: [time(s), Volt, Ampere, Cycle, Cap, R/P]
Index: []

In [83]:
cd # Melihat tabel keseluruhan

       time(s)   Volt  Ampere  Cycle       Cap       R/P
0            0  4.098   0.997      1  2.840817  4.085706
1            1  4.096   0.998      1  2.840817  4.087808
2            2  4.094   0.999      1  2.840817  4.089906
3            3  4.093   0.998      1  2.840817  4.084814
4            4  4.092   0.999      1  2.840817  4.087908
...        ...    ...     ...    ...       ...       ...
90977    90977  2.506   1.002      9  2.770180  2.511012
90978    90978  2.504   1.002      9  2.770180  2.509008
90979    90979  2.502   1.002      9  2.770180  2.507004
90980    90980  2.500   1.002      9  2.770180  2.505000
90981    90981  2.497   1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

### Problem c.

In [84]:
# Membuat query dan dataset baru dimana kapasitas arus = 1 dan cycle ganjil.
cd1=cd.loc[(cd['Ampere'] == 1) & (cd['Cycle'] % 2 != 0)]

In [85]:
cd1.loc[(cd1['Ampere'] !=1)] # Memastikan tidak ada data yang salah dimana ampere != 1

Empty DataFrame
Columns: [time(s), Volt, Ampere, Cycle, Cap, R/P]
Index: []

In [86]:
cd1.loc[(cd1['Cycle'] % 2 == 0)] # Memastikan tidak ada data yang salah dimana Cycle genap

Empty DataFrame
Columns: [time(s), Volt, Ampere, Cycle, Cap, R/P]
Index: []

In [87]:
# Melakukan operasi pencarian rata rata pada kolom Cap

cd1['Cap'].mean()

2.8064845553927484

## Jawaban

`Setelah dilakukan perhitungan menggunakan code diatas dihasilkan beberapa jawaban`

### Untuk problem a. dihasilkan fungsi dibawah

In [88]:
def hambatan(row):
    hasil=cd.Volt/cd.Ampere
    return hasil
    
def daya(row):
    hasil=cd.Volt*cd.Ampere
    return hasil

### Untuk problem b. dihasilkan dataframe dibawah.

In [89]:
cd

       time(s)   Volt  Ampere  Cycle       Cap       R/P
0            0  4.098   0.997      1  2.840817  4.085706
1            1  4.096   0.998      1  2.840817  4.087808
2            2  4.094   0.999      1  2.840817  4.089906
3            3  4.093   0.998      1  2.840817  4.084814
4            4  4.092   0.999      1  2.840817  4.087908
...        ...    ...     ...    ...       ...       ...
90977    90977  2.506   1.002      9  2.770180  2.511012
90978    90978  2.504   1.002      9  2.770180  2.509008
90979    90979  2.502   1.002      9  2.770180  2.507004
90980    90980  2.500   1.002      9  2.770180  2.505000
90981    90981  2.497   1.002      9  2.770180  2.501994

[90982 rows x 6 columns]

### Untuk problem c. dihasilkan nilai rata rata.

In [90]:
cd1['Cap'].mean()

2.8064845553927484